.App {
  text-align: center;
}

header{
  background-color: white;
  height: 10vh;
  box-shadow:  3px 3px var(--green);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.header__img{
  height: 60%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


*{
  font-family: 'Ubuntu', sans-serif;
}
